.flex-container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    display: flex;
    flex: 1;
    flex-direction: row;
    align-items: center;
    column-gap: 50px;
    margin-bottom: 80px;

    .left-content {
        display: flex;
        flex: .4;
        justify-content: left;

        .profile-pic-container {
            height: 500px;
            width: 500px;

            .profile-pic {
                height: 100%;
                width: 100%;
                border-radius: 50%;
                background-position: center;
                object-fit: cover;
                background-size: cover;
                filter: drop-shadow(1px 2px 3px black) grayscale(1);
                transition: 1s ease-in-out;

                &:hover {
                    filter: drop-shadow(1px 2px 3px black) saturate(2);
                }
            }
        }
    }

    .right-content {
        display: flex;
        flex: .6;
        flex-direction: column;

        .right-about-content {

            .right-about-content-header {
                text-shadow: 1px 1px 1px black;
                font-weight: 600;
                font-size: 2.1rem;
                margin-top: 8px;
                margin-bottom: 16px;
                color: #ffffff;
                letter-spacing: 1px;
                color: var(--primary);
            }

            .right-about-content-sub-header {
                font-size: 1.3rem;
                font-weight: 500;
                color: var(--accent);
                margin-bottom: 8px;
                text-shadow: 1px 1px 1px black;
            }

            .right-about-content-body {
                text-align: justify;
                font-size: 1rem;
                line-height: 2;
                margin-bottom: 0;
                color: #ffffff;
                text-shadow: 1px 1px 1px black;
            }

            .my-resume {
                position: relative;
                display: inline-block;
                width: 200px;
                height: 50px;
                filter: drop-shadow(1px 2px 3px black);
                margin-top: 20px;
                margin-right: 35px;

                span {
                    position: absolute;
                    top: 0;
                    left: 0;
                    width: 100%;
                    height: 100%;
                    color: black;
                    background: #fff;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    letter-spacing: 1px;
                    font-size: 18px;
                    font-weight: 600;
                    padding: 10px;
                    border: 2px solid var(--black2white);

                    &:nth-child(2) {
                        //left-side
                        color: var(--accent);
                        background: black;
                        overflow: hidden;
                        z-index: 2;
                        transition: 0.5s;
                        clip-path: polygon(0% 0%, 31% 0, 61% 50%, 30% 100%, 0% 100%);
                        border: 2px solid var(--accent);
                        font-weight: 600;

                        &:hover {
                            //left-side to right-side
                            clip-path: polygon(0% 0%, 100% 0, 100% 53%, 100% 100%, 0% 100%);
                        }
                    }

                    &:nth-child(1) {

                        //Animation for right-side to left-side
                        &:hover~ :nth-child(2) {
                            clip-path: polygon(0 0, 0 0, 0 50%, 0 100%, 0 100%);
                        }
                    }
                }

                &:hover {
                    color: var(--typing-primary);
                    background: var(--secondary);
                }
            }
        }
    }
}

.section-title {
    display: flex;
    font-size: 30px;
    color: inherit;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 600;

    &::after {
        content: "";
        display: block;
        position: relative;
        width: 450px;
        height: 1px;
        margin-left: 20px;
        background-color: var(--section-line);
    }

    .numeric {
        color: inherit;
    }

    .no-blast {
        color: var(--no-blast-color);
    }

    .blast {
        display: inline-block;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        background: linear-gradient(to right, var(--slate) 50%, var(--accent) 50%);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.4s ease-out;
    }

    &:hover {
        .blast {
            background-position: -100%;
            animation-name: rubberBand;
        }
    }
}



//Wiggle Animation
@keyframes wiggle {
    0% {
        transform: rotate(0deg);
    }

    25% {
        transform: rotate(-15deg);
    }

    75% {
        transform: rotate(15deg);
    }

    100% {
        transform: rotate(0deg);
    }
}

//Responsive
@media (min-width: 992px) and (max-width: 1200px) {
    .flex-container {
        column-gap: 40px;
    }

    .right-about-content-body {
        font-size: .9rem !important;
    }

    .my-resume {
        width: 175px !important;
        height: 40px !important;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .flex-container {
        flex-direction: column !important;

    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 400px !important;
        width: 400px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        //font-size: 2.6rem !important;
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 2rem !important;
    }

    .right-about-content-sub-header {
        font-size: 1.2rem !important;
    }

    .right-about-content-body {
        font-size: .9rem !important;
    }

    .my-resume {
        width: 150px !important;
        height: 35px !important;
    }
}

@media (min-width: 576px) and (max-width: 768px) {
    .flex-container {
        flex-direction: column !important;

    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 350px !important;
        width: 350px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        //font-size: 1.95rem !important;
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 1.7rem !important;
    }

    .right-about-content-sub-header {
        font-size: 1rem !important;
    }

    .right-about-content-body {
        font-size: .9rem !important;
    }

    .my-resume {
        width: 150px !important;
        height: 35px !important;
    }
}

@media (min-width: 420px) and (max-width: 576px) {
    .flex-container {
        flex-direction: column !important;

    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 300px !important;
        width: 300px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        //font-size: 1.8rem !important;

        &::before {
            width: 35% !important;
        }
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 1.6rem !important;
    }

    .right-about-content-sub-header {
        font-size: .9rem !important;
    }

    .right-about-content-body {
        font-size: .7rem !important;
    }

    .my-resume {
        width: 125px !important;
        height: 30px !important;
    }
}

@media (min-width: 360px) and (max-width: 420px) {
    .flex-container {
        flex-direction: column !important;

    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 300px !important;
        width: 300px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        //font-size: 1.8rem !important;

        &::before {
            width: 40% !important;
        }
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 1.7rem !important;
    }

    .right-about-content-sub-header {
        font-size: 1rem !important;
    }

    .right-about-content-body {
        font-size: .8rem !important;
    }

    .my-resume {
        width: 150px !important;
        height: 35px !important;
    }
}

@media (min-width: 280px) and (max-width: 360px) {
    .flex-container {
        flex-direction: column !important;

    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 250px !important;
        width: 250px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        font-size: 2.5rem !important;

        &::before {
            width: 48% !important;
        }
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 1.3rem !important;
    }

    .right-about-content-sub-header {
        font-size: .8rem !important;
    }

    .right-about-content-body {
        font-size: .6rem !important;
    }

    .my-resume {
        width: 100px !important;
        height: 25px !important;

        span {
            font-size: .8rem !important;
        }
    }
}

@media screen and (min-width: 768px) and (max-width: 912px) and (orientation: portrait) and (min-height: 1024px) and (max-height: 1368px) {
    .flex-container {
        flex-direction: column !important;
    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 500px !important;
        width: 500px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        font-size: 3rem !important;

        &::before {
            width: 30% !important;
        }
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 2.1rem !important;
    }

    .right-about-content-sub-header {
        font-size: 1.3rem !important;
    }

    .right-about-content-body {
        font-size: 1rem !important;
    }

    .my-resume {
        width: 200px !important;
        height: 50px !important;
    }
}

@media screen and (width: 912px) and (height: 1368px) {
    .flex-container {
        flex-direction: column !important;
    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 500px !important;
        width: 425px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        font-size: 3rem !important;

        &::before {
            width: 30% !important;
        }
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 2.1rem !important;
        margin-top: 16px !important;
        margin-bottom: 25px !important;
    }

    .right-about-content-sub-header {
        font-size: 1.7rem !important;
        margin-bottom: 16px !important;
    }

    .right-about-content-body {
        font-size: 1.5rem !important;
    }

    .my-resume {
        width: 250px !important;
        height: 70px !important;

        span {
            font-size: 1.75rem !important;
        }
    }
}

@media screen and (min-width: 320px) and (max-width: 414px) and (min-height: 568px) and (max-height: 740px) and (orientation: portrait) {
    .flex-container {
        flex-direction: column !important;
    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 250px !important;
        width: 250px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        //font-size: 1.8rem !important;

        &::before {
            width: 40% !important;
        }
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 1.5rem !important;
    }

    .right-about-content-sub-header {
        font-size: .9rem !important;
    }

    .right-about-content-body {
        font-size: .7rem !important;
    }

    .my-resume {
        width: 125px !important;
        height: 25px !important;
    }
}

@media screen and (width: 320px) and (height: 658px) {
    .flex-container {
        flex-direction: column !important;
    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 225px !important;
        width: 200px !important;
        margin-bottom: 1rem;
    }

    .rubber {

        &::before {
            width: 50% !important;
        }
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 1.5rem !important;
    }

    .right-about-content-sub-header {
        font-size: .9rem !important;
    }

    .right-about-content-body {
        font-size: .6rem !important;
    }

    .my-resume {
        width: 125px !important;
        height: 25px !important;
    }
}

@media screen and (width: 320px) and (height: 568px) {
    .flex-container {
        flex-direction: column !important;
    }

    .left-container {
        flex: 1 !important;
    }

    .profile-pic-container {
        height: 250px !important;
        width: 250px !important;
        margin-bottom: 1rem;
    }

    .rubber {
        font-size: 2.5rem !important;

        &::before {
            width: 40% !important;
        }
    }

    .right-content {
        flex: 1 !important;
    }

    .right-about-content-header {
        font-size: 1.2rem !important;
        margin-top: 0px !important;
        margin-bottom: 0px !important;
    }

    .no-blast {
        margin-left: 7px !important;
    }

    .right-about-content-sub-header {
        font-size: .8rem !important;
    }

    .right-about-content-body {
        font-size: .6rem !important;
    }

    .my-resume {
        width: 100px !important;
        height: 20px !important;
        margin-top: 10px !important;

        span {
            font-size: 0.8rem !important;
        }
    }
}