<div class="flex-container">
    <div class="left-content">
        <div class="profile-pic-container tilt-object">
            <img class="profile-pic" src="../../../../assets/pictures/others/profile-pic.jpeg" alt="profile-pic.jpeg">
        </div>
    </div>
    <div class="right-content">
        <div class="about-title notranslate">
            <h2 class="rubber">
                <span class="no-blast-s">A</span>
                <span class="blast">b</span>
                <span class="blast">o</span>
                <span class="blast">u</span>
                <span class="blast">t</span>
                <span class="no-blast">M</span>
                <span class="blast">e</span>
            </h2>
        </div>
        <div class="right-about-content">
            <h3 class="right-about-content-header">I'm Sia</h3>
            <h4 class="right-about-content-sub-header">Full Stack Developer | AI Engineer</h4>
            <p class="right-about-content-body">
                I'm a Full-Stack Developer based in Selangor, Malaysia and is an Software Engineering Undergraduate
                from Asia Pacific University currently in my Year 3 Degree in Intelligent Systems. I am very passionate
                about improving my coding skills, languages comprehension, application & website development. I build
                WebApps & Websites using MEAN Stack. Love to explore new technology (such as ChatGPT, Stable Diffusion,
                etc), coding fun CSS components, training models and everything in-between. 😊
            </p>
            <a mat-raised-button href="../../../../assets/RESUME.pdf" target="_blank" class="my-resume">
                <span>
                    <mat-icon style="margin-right: 5px;">picture_as_pdf</mat-icon> My Resume
                </span>
                <span>
                    <mat-icon style="margin-right: 5px;">picture_as_pdf</mat-icon> My Resume
                </span>
            </a>
        </div>
    </div>
</div>