<div class="contact-container">
  <h1>
    &#8544;&#8548;.
    <span class="no-blast">S</span>
    <span class="blast b1">o</span>
    <span class="blast b2">,</span>
    &#160;
    <span class="no-blast">W</span>
    <span class="blast b3">h</span>
    <span class="blast b4">a</span>
    <span class="blast b5">t</span>
    <span class="blast b6">'</span>
    <span class="blast b7">s</span>
    &#160;
    <span class="no-blast">N</span>
    <span class="blast b8">e</span>
    <span class="blast b9">x</span>
    <span class="blast b10">t</span>
    <span class="blast b11">?</span>
  </h1>
  <h2>
    Get in Touch
  </h2>
  <p>I'm currently looking for any new opportunities, my inbox is always open for anything.
    Whether you got a question or just want to say hi, I'll try my best to reply as soon as
    possible.
  </p>

  <a mat-raised-button href="mailto:cheezhensia24@gmail.com" target="_blank" class="get-in-touch">
    <span>
      <mat-icon style="margin-right: 5px;">email</mat-icon> Say Hi :)
    </span>
    <span>
      <mat-icon style="margin-right: 5px;">email</mat-icon> Say Hi :)
    </span>
  </a>
</div>