<mat-card-header>
    <mat-card-title>
        <h2 class="section-title">
            <span class="numeric mr-8">&#8544;.</span>
            <span class="no-blast">A</span>
            <span class="blast">b</span>
            <span class="blast">o</span>
            <span class="blast">u</span>
            <span class="blast">t</span>
            &nbsp;
            <span class="no-blast">M</span>
            <span class="blast">e</span>
        </h2>
    </mat-card-title>
</mat-card-header>
<div class="about-container">
    <div class="about-content">
        <p>
            Hello! My name is <b>Sia Chee Zhen</b> and I love learning new technologies. I have completed
            my <b>Diploma in Information & Communication with specialism in Software Engineering (2021)</b>
            and I have worked as an <b>Web Developer</b> at 
            <a href="https://qubeapps.com/" target="_blank" class="link">
                Qube Apps Solutions R&D
            </a> 
            for three months during my internship. I am currently pursuing a <b>Degree in Computer 
            Science with specialism in Intelligent Systems</b> at Asia Pacific University and is 
            currently in the 2nd year.
        </p>
        <br>
        <p>
            My interest in studying both web development and computer science started back in 2017, during
            my high school days when I was exposed to seminars related to information and technology. From
            then on, it sparked my interests as I started exploring the web development field by learning
            <b>web development languages, such as HTML, CSS and JS (which also includes back-end languages,
                such as PHP and MySQL)</b> by reading articles and watching videos related to the topics online.
        </p>
        <br>
        <p>
            Besides that, I am into all kinds of <b>software development</b> that require creativeness and patience,
            especially <b>web development and tinkering with machine-learning algorithms</b>. In my free time, I
            usually watch anime, play games or watch documentary vide os related to both military logistics and
            also interesting css tricks.
        </p>
        <br>
        Here are some <b>technologies/ languages/ framework</b> that I am learning and working with:
        <ul class="language-list">
            <b>
                <li>Python</li>
                <li>R</li>
                <li>LabView</li>
                <li>Java</li>
                <li>HTML, CSS, JS</li>
                <li>PHP, MySQL</li>
                <li>React</li>
                <li>Angular</li>
            </b>
        </ul>
    </div>
    <div class="about-pic">
        <div class="picture-border">
            <div class="flip-card">
                <div class="flip-card-inner">
                    <div class="flip-card-front">
                        <h1 class="wave">👋</h1>
                    </div>
                    <div class="flip-card-back">
                        <img src="../../../../../assets/pictures/my-pic.png">
                        <div class="pic-overlay"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>