<div class="grid-container">
  <div id="intro" class="intro" style="scroll-margin: 100px">
    <mat-card class="dashboard-card intro">
      <app-intro></app-intro>
    </mat-card>
  </div>

  <div id="about" scrolledTo #scrolledToElement="scrolledTo" [class.reached]="scrolledToElement.reached"
    style="scroll-margin: 100px">
    <mat-card class="dashboard-card about">
      <mat-card-content class="dashboard-card-content">
        <app-about></app-about>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="exp" scrolledTo #scrolledToElement2="scrolledTo" [class.reached]="scrolledToElement2.reached"
    style="scroll-margin: 100px">
    <mat-card class="dashboard-card exp">
      <mat-card-content class="dashboard-card-content">
        <app-work-exp></app-work-exp>
      </mat-card-content>
    </mat-card>
  </div>

  <div scrollToTop #scrolledToShow="scrollToTop"></div>

  <div id="proj" scrolledTo #scrolledToElement3="scrolledTo" [class.reached]="scrolledToElement3.reached"
    style="scroll-margin: 100px">
    <mat-card class="dashboard-card projects">
      <mat-card-content class="dashboard-card-content">
        <app-projects></app-projects>
      </mat-card-content>
    </mat-card>
  </div>

  <div id="contact" scrolledTo #scrolledToElement4="scrolledTo" [class.reached]="scrolledToElement4.reached"
    style="scroll-margin: 100px">
    <mat-card class="dashboard-card contact">
      <mat-card-content class="dashboard-card-content">
        <app-contacts></app-contacts>
      </mat-card-content>
    </mat-card>
  </div>

  <mat-card class="dashboard-card footer">
    <mat-card-content class="dashboard-card-content">
      <app-footer></app-footer>
    </mat-card-content>
  </mat-card>
</div>

<div id="stt" class="stt-container">
  <button mat-mini-fab (click)="scrollToTop()" class="btnStt">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>