<section id="intro" style="scroll-margin: 100px;">
  <div id="intro-dark-overlay"></div>
  <div id="intro-img">
    <mat-card class="dashboard-flex-container intro">
      <app-intro class="flex intro-margin"
        style="flex: 1; justify-content: center; height: auto;"></app-intro>
    </mat-card>
  </div>
</section>

<div scrollToTop #scrolledToShow="scrollToTop"></div>

<section id="about" style="scroll-margin: 125px;">
  <div id="about-img">
    <mat-card class="dashboard-flex-container about">
      <app-about class="flex"
        style="flex: 1; justify-content: space-around; height: auto; align-items: center; margin-bottom: 80px;"></app-about>
    </mat-card>
  </div>
</section>

<section id="skills" style="scroll-margin: 75px;">
  <div id="skills-img">
    <mat-card class="dashboard-flex-container skills">
      <app-skills class="flex" style="flex: 1; justify-content: space-around; height: auto;"></app-skills>
    </mat-card>
  </div>
</section>

<section id="edu" style="scroll-margin: 75px;">
  <div id="edu-img">
    <mat-card class="dashboard-flex-container edu">
      <app-education class="flex" style="flex: 1; height: auto; justify-content: center;"></app-education>
    </mat-card>
  </div>
</section>

<section id="proj" style="scroll-margin: 75px;">
  <div id="proj-img">
    <div class="proj dashboard-flex-container">
      <app-projects class="flex" style="flex: 1; height: auto; justify-content: center; align-items: center; 
        position: relative; padding: 13px; flex-direction: column; margin-bottom: 80px;">
      </app-projects>
    </div>
  </div>
</section>

<section id="exp" style="scroll-margin: 75px;">
  <div id="exp-img">
    <div class="exp dashboard-flex-container">
      <app-work-exp class="flex"
        style="flex: 1; height: auto; justify-content: center; align-items: center; margin-bottom: 80px;"></app-work-exp>
    </div>
  </div>
</section>

<section id="contact" style="scroll-margin: 75px;">
  <div id="contact-img">
    <div class="contact dashboard-flex-container">
      <app-contacts class="flex"
        style="flex: 1; height: auto; justify-content: center; align-items: center; padding: 15px; margin-bottom: 80px;">
      </app-contacts>
    </div>
  </div>
</section>

<section id="footer">
  <div class="footer dashboard-flex-container">
    <app-footer style="flex: 1; height: auto; justify-content: center; align-items: center;">
    </app-footer>
  </div>
</section>

<div id="stt" class="stt-container">
  <button mat-mini-fab (click)="scrollToTop()" class="btnStt">
    <mat-icon>keyboard_arrow_up</mat-icon>
  </button>
</div>