.grid-container {
  margin: 25px 200px 50px 200px;
  place-items: center;
  text-align: left;
}

.dashboard-card {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: transparent;
  margin-bottom: 50%;
  height: auto;
}

.intro {
  padding-bottom: 40px;
}

.exp {
  padding-bottom: 20px;
}

.projects {
  padding-bottom: 30px;
}

.contact {
  padding-top: 20px;
  padding-bottom: 40px;
}

.dashboard-card-content {
  text-align: center;
}

.slideTop {
  animation: slide_up 1.5s ease;
}

@keyframes slide_up{
  0%{
    opacity: 0.2;
    transform:translateY(120px);
  }
  100%{
    opacity: 1;
    transform: translateY(0px);
  }
}
