.flex-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dashboard-card {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: transparent;
  height: auto;
  box-shadow: none;
}

.skills, .about, .edu {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
}

.proj, .contact {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  padding: 0 !important;
}

.intro {
  display: flex;
  height: calc(100vh - 64px);
  width: 100%;
  margin-top: 64px;
  align-items: center;
}

.exp {
  display: flex;
  height: 100vh;
  width: 100%;
  align-items: center;
  justify-content: center;
  margin: auto;
  padding: 0 !important;
}

#intro-img, #about-img, #skills-img, #edu-img, #proj-img, #exp-img, #contact-img {
  object-fit: cover;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}

#intro-img {
  background-image: url("../../../assets/pictures/intro/sky.jpg");
}

#about-img {
  background-image: url("../../../assets/pictures/about/sunset.jpg");
}

#skills-img {
  background-image: url("../../../assets/pictures/skills/coding.jpg");
}

#edu-img {
  background-image: url("../../../assets/pictures/edu/edu.jpg");
}

#exp-img {
  background-image: url("../../../assets/pictures/exp/exp.jpg");
}

#proj-img {
  background-image: url("../../../assets/pictures/proj/proj.png");
}

#contact-img {
  background-image: url("../../../assets/pictures/proj/proj.png");
}

#intro-dark-overlay {
  height: calc(100vh - 64px);
  background: black;   
  position: absolute;
  width: 100%;
  opacity: 0;
}

#about-dark-overlay, #edu-dark-overlay,
#proj-dark-overlay, #exp-dark-overlay,
#contact-dark-overlay {
  height: 100vh;
  background: black;   
  position: absolute;
  width: 100%;
  opacity: 0.5;
}

.dashboard-card-content {
  text-align: center;
}

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

.stt-container {
  visibility: hidden;
  position: fixed;
  bottom: 15px;
  right: 15px;

  .btnStt {
    background-color: var(--secondary);

    mat-icon {
      font-weight: 600;
    }
  }
}

:host ::ng-deep .mat-card {
  padding: 0px !important;
}

@media screen and (max-width: 1880px) {
  .skills {
    height: auto !important;
  }
}

//Responsive
@media (min-width: 360px) {
  .flex-container {
    max-width: 340px !important;
  }
}

@media (min-width: 420px) {
  .flex-container {
    max-width: 400px !important;
  }
}

@media (min-width: 576px) {
  .flex-container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .flex-container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .flex-container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .flex-container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1430px) {
  .flex-container {
    max-width: 1400px !important;
  }
}

@media (max-width: 991px) {
  .intro {
    align-items: unset !important;
  }

  .proj, .contact {
    height: auto !important;
  }

  #proj-dark-overlay, #contact-dark-overlay {
    display: none !important;
  }
}

@media (max-width: 576px) {
  .intro {
    height: calc(100vh - 54px) !important;
    margin-top: 54px !important;
  }

  #intro-dark-overlay {
    height: calc(100vh - 54px) !important;
  }
}

@media (width: 1024px) and (height: 600px) {
  .proj, .contact {
    height: 100% !important;
  }

  #proj-dark-overlay, #contact-dark-overlay {
    display: none !important;
  }
}