.flex-container {
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  margin-right: auto;
  margin-left: auto;
}

.dashboard-card {
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  background: transparent;
  height: auto;
  box-shadow: none;
}

.skills, .about, .edu, .proj, .contact, .intro, .exp {
  display: flex;
  height: auto !important;
  width: 100%;
  align-items: center;
}

.intro {
  align-items: center;
  margin-top: 132px; 
  margin-bottom: 132px;
}

#intro-img, #about-img, #skills-img, #edu-img, #proj-img, #exp-img, #contact-img {
  background: var(--bg);
}

// #intro-dark-overlay {
//   height: calc(100vh - 64px);
//   background: black;   
//   position: absolute;
//   width: 100%;
//   opacity: 0;
// }

// #about-dark-overlay, #edu-dark-overlay,
// #proj-dark-overlay, #exp-dark-overlay,
// #contact-dark-overlay {
//   height: 100vh;
//   background: black;   
//   position: absolute;
//   width: 100%;
//   opacity: 0.5;
// }

::ng-deep .mat-card-header-text {
  margin: 0 !important;
}

#footer {
  background: var(--secondary);
}

.footer {
  padding: 0 !important;
}

.stt-container {
  visibility: hidden;
  position: fixed;
  bottom: 15px;
  right: 15px;
  z-index: 999;

  .btnStt {
    background-color: var(--light-slate);
    color: var(--whiteonly);
    transition: 0.3s ease-in-out;
    text-shadow: 1px 2px 3px black;
    filter: drop-shadow(1px 2px 3px black);

    &:hover {
      background: var(--accent);
    }

    mat-icon {
      font-weight: 600;
    }
  }
}

:host ::ng-deep .mat-card {
  padding: 0px !important;
}

@media screen and (max-width: 1880px) {
  .skills {
    height: auto !important;
  }
}

@media (max-width: 992px) {
  .intro {
    align-items: unset !important;
    margin-top: 100px !important; 
    margin-bottom: 100px !important;
  }

  .proj, .contact {
    height: auto !important;
  }

  #proj-dark-overlay, #contact-dark-overlay {
    display: none !important;
  }
}

@media (max-width: 576px) {

  // #intro-dark-overlay {
  //   height: calc(100vh - 54px) !important;
  // }
}

@media (width: 1024px) and (height: 600px) {
  .proj, .contact {
    height: 100% !important;
  }

  #proj-dark-overlay, #contact-dark-overlay {
    display: none !important;
  }
}