<div #carouselWrapper id="carousel-wrapper">
    <div class="dark-overlay"></div>
    <div #menu id="menu">
        <div id="current-option">
            <div class="text-container">
                <span #projectTitle data-previous-text="" data-next-text="" class="project-title"></span>
                <span #projectDate data-previous-text="" data-next-text="" class="project-date"></span>
                <a #projectUrl href="" class="project-url" target="_blank">
                    <i class="fa fa-external-link" aria-hidden="true"></i>
                </a>
            </div>
            <div class="navigation">
                <button id="previous-option" (click)="optionPreviousClicked()">&#60;</button>
                <button id="next-option" (click)="optionNextClicked()">&#62;</button>
            </div>
        </div>
    </div>
</div>