.section-title {
    display: flex;
    font-size: clamp(26px,5vw, 32px);
    color: inherit;
    align-items: center;
    letter-spacing: 1px;
    font-weight: 600;
    line-height: 1.25;
    &::after {
        content: "";
        display: block;
        position: relative;
        width: 450px;
        height: 1px;
        margin-left: 20px;
        background-color: var(--section-line);
    }
    .numeric {
        color: inherit;
    }
    .no-blast {
        color: var(--no-blast-color);
    }
    .blast {
        display: inline-block;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        background: linear-gradient(to right, var(--slate) 50%, var(--accent) 50%);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.4s ease-out;
    }
    &:hover {
        .blast {
            background-position: -100%;
            animation-name: rubberBand;
        }
    }
}

.project-card-container {
    display: grid;
    height: auto;
    width: auto;
    grid-template-columns: auto auto auto;
    gap: 20px;
    justify-content: center;
    .direct-project {
        text-decoration: none;
        .project-card {
            position: relative;
            box-shadow: 0 10px 30px -15px rgb(2 12 27 / 70%);
            border-radius: 25px;
            padding: 1.5rem 2rem;
            text-decoration: none;
            background: var(--proj-card);
            width: 215px;
            height: 325px;
            color: var(--whiteonly);
            .project-icon {
                text-align: left;
                position: absolute;
                border: 3px solid var(--whiteonly);
                border-radius: 50%;
                width: 2rem;
                height: 2rem;
                display: flex;
                justify-content: center;
                padding: 5px;
                .fa-lightbulb-o {
                    font-size: 2rem;
                }
            }
            .project-link-icon {
                text-align: right;
                margin-bottom: 70px;
                .fa-github, .fa-external-link {
                    font-size: 2rem;
                }
            }
            .project-title {
                text-align: left;
                font-size: 1.5rem;
                font-weight: 600;
                margin-bottom: 20px;
                letter-spacing: 1px;
            }
            .project-desc {
                text-align: justify;
                font-size: 0.9rem;
                font-weight: 500;
            }
            .language-used {
                position: absolute;
                text-align: left;
                bottom: 20px;
                font-size: 0.8rem;
                word-spacing: 10px;
                color: var(--lang-used);
            }
        }
    }
}

.direct-project:hover {
    .project-title {
        color: var(--proj-title);
    }
    .project-card {
        transition: 1s ease-in;
        top: -10px;
    }
    .project-icon {
        color: var(--proj-icon);
    }
}