<div class="container">
  <h1 class="intro glitch" title={{currentItem}}>
    {{ currentItem }}
  </h1>
  <div class="intro-name">
    <h2 class="rubber1 typing">
      <span class="no-blast-s">S</span>
      <span class="blast">i</span>
      <span class="blast">a</span>
      <span class="no-blast">C</span>
      <span class="blast">h</span>
      <span class="blast">e</span>
      <span class="blast">e</span>
      <span class="no-blast">Z</span>
      <span class="blast">h</span>
      <span class="blast">e</span>
      <span class="blast">n</span>
      <span class="blast">.</span>
    </h2>
  </div>
  <h3 class="rubber2">
    <span class="blast">I</span>
    <span class="blast">&nbsp;</span>
    <span class="blast">a</span>
    <span class="blast">m</span>
    <span class="blast">&nbsp;</span>
    <span class="blast">e</span>
    <span class="blast">x</span>
    <span class="blast">c</span>
    <span class="blast">i</span>
    <span class="blast">t</span>
    <span class="blast">e</span>
    <span class="blast">d</span>
    <span class="blast">&nbsp;</span>
    <span class="blast">t</span>
    <span class="blast">o</span>
    <span class="blast">&nbsp;</span>
    <span class="blast">l</span>
    <span class="blast">e</span>
    <span class="blast">a</span>
    <span class="blast">r</span>
    <span class="blast">n</span>
    <span class="blast">&nbsp;</span>
    <span class="blast">n</span>
    <span class="blast">e</span>
    <span class="blast">w</span>
    <span class="blast">&nbsp;</span>
    <span class="blast">t</span>
    <span class="blast">h</span>
    <span class="blast">i</span>
    <span class="blast">n</span>
    <span class="blast">g</span>
    <span class="blast">s</span>
    <span class="blast">.</span>
  </h3>
  <p class="intro-msg">
    I'm a Software Engineering student who graduated from 
    <a class="link" href="https://www.apu.edu.my/" target="_blank">
      Asia Pacific University
    </a>
    and am currently pursuing a Degree in Computer Science with specialism in
    Intelligent Systems. I have a profound interest in web-development,
    machine-learning, data-analytics and everything in between.
  </p>
  <a mat-raised-button href="https://www.google.com/" target="_blank" class="get-in-touch">
      <mat-icon style="margin-right: 5px;">email</mat-icon> Get in Touch @
  </a>
</div>