.container {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    .intro {
      font-size: 2rem;
      font-weight: 600;
      letter-spacing: 5px;
    }
    .intro-name {
      width: fit-content;
      .rubber1 {
        font-weight: 800;
        font-size: 5rem;
        line-height: 1.25;
        .no-blast-s {
          color: var(--no-blast-color);
        }
        .no-blast {
          margin-left: 15px;
          color: var(--no-blast-color);
        }
        .blast {
          display: inline-block;
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-iteration-count: 1;
          background: linear-gradient(to right, var(--slate) 50%, var(--accent) 50%);
          background-size: 200%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.4s ease-out;
          &:hover {
            background-position: -100%;
            animation-name: rubberBand;
          }
        }
      }
      .typing {
        position: relative;
        &::after {
          content: "|";
          position: absolute;
          right: 0;
          width: 100%;
          color: var(--black2white);
          background-color: var(--typing-primary);
          animation: typing 3s steps(12) forwards, caret .7s infinite;
        }
      }
    }
    .rubber2 {
      font-size: 3rem;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 0px; 
      .blast {
        display: inline-block;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        background: linear-gradient(to right, var(--slate) 50%, var(--accent) 50%);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.4s ease-out;
         &:hover {
          background-position: -100%;
          animation-name: rubberBand;
         }
      }
    }
    .intro-msg {
      margin-top: 20px;
      font-size: 1.1rem;
      line-height: 1.5;
      max-width: 38.5rem;
      text-align: justify;
      .link {
        background-image: linear-gradient(
          to right,
          var(--black2white),
          var(--black2white) 50%,
          var(--accent) 50%
        );
        background-size: 200% 100%;
        background-position: -100%;
        display: inline-block;
        padding: 3px 0;
        position: relative;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: all 0.3s ease-in-out;
        text-decoration: none;
        font-weight: 600;
        &::before {
          content: '';
          background: var(--accent);
          display: block;
          position: absolute;
          bottom: 0px;
          left: 0;
          width: 0;
          height: 3px;
          transition: all 0.3s ease-in-out;
        }
        &:hover {
          background-position: 0;
          &::before {
            width: 100%;
          }
        }
      }
    }
    .get-in-touch {
        position: relative;
        display: inline-block;
        width: 200px;
        height: 50px;
        box-shadow: 5px 5px 25px rgba(0, 0, 0, 0.25);
        margin-top: 20px;
        span {
          position: absolute;
          top: 0;
          left: 0;
          width: 100%;
          height: 100%;
          color: black;
          background: #fff;
          display: flex;
          justify-content: center;
          align-items: center;
          text-transform: uppercase;
          letter-spacing: 1px;
          font-size: 18px;
          font-weight: 600;
          padding: 10px;
          border: 2px solid;
          &:nth-child(2) { //left-side
              color: var(--accent);
              background: black;
              overflow: hidden;
              z-index: 2;
              transition: 0.5s;
              clip-path: polygon(0% 0%, 31% 0, 61% 50%, 30% 100%, 0% 100%);
              border: 2px solid var(--section-line);
              font-weight: 600;
              &:hover { //left-side to right-side
                  clip-path: polygon(0% 0%, 100% 0, 100% 53%, 100% 100%, 0% 100%);
              }
          }
          &:nth-child(1) { //Animation for right-side to left-side
              &:hover ~ :nth-child(2) {
                  clip-path: polygon(0 0, 0 0, 0 50%, 0 100%, 0 100%);
              }
          }
        }
      &:hover {
        color: var(--white2black);
        background: var(--black2white);
      }
    }
}

//Glitch Animation
.glitch {
    animation: glitch 3s linear infinite;
}

@keyframes glitch {
    2%,64%{
      transform: translate(2px,0) skew(0deg);
    }
    4%,60%{
      transform: translate(-2px,0) skew(0deg);
    }
    62%{
      transform: translate(0,0) skew(5deg); 
    }
  }
  
  .glitch:before, .glitch:after {
    content: attr(title);
    position: absolute;
    left: 0;
  }
  
  .glitch:before {
    animation: glitchTop 1s linear infinite;
    clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
    -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  }
  
  @keyframes glitchTop{
    2%,64%{
      transform: translate(2px,-2px);
    }
    4%,60%{
      transform: translate(-2px,2px);
    }
    62%{
      transform: translate(13px,-1px) skew(-13deg); 
    }
  }
  
  .glitch:after{
    animation: glitchBottom 1.5s linear infinite;
    clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
    -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  }
  
  @keyframes glitchBottom{
    2%,64%{
      transform: translate(-2px,0);
    }
    4%,60%{
      transform: translate(-2px,0);
    }
    62%{
      transform: translate(-22px,5px) skew(21deg); 
    }
  }

//Buttons Animation
@keyframes typing {
	to { width: 0 }
}
@keyframes caret {
	50% { color: transparent }
}