<div class="container">
    <div class="skills-title notranslate">
        <h2 class="rubber">
            <span class="no-blast-s">M</span>
            <span class="blast">y</span>
            <span class="no-blast">E</span>
            <span class="blast">x</span>
            <span class="blast">p</span>
            <span class="blast">e</span>
            <span class="blast">r</span>
            <span class="blast">i</span>
            <span class="blast">e</span>
            <span class="blast">n</span>
            <span class="blast">c</span>
            <span class="blast">e</span>
            <span class="blast code-icon">
                <i class="fa fa-briefcase" style="font-weight: 600;"></i>
            </span>
        </h2>
    </div>
    <input type="radio" name="slider" id="item-1" (click)="showFreelancer()" checked>
    <input type="radio" name="slider" id="item-2" (click)="showFusionex()">
    <input type="radio" name="slider" id="item-3" (click)="showQube()">
    <input type="radio" name="slider" id="item-4" (click)="showBlossom()">
    <input type="radio" name="slider" id="item-5" (click)="showFM()">
    <div class="cards">
        <label class="card" for="item-1" id="song-1">
            <img src="{{jobCompanyImg_options[0]}}" alt="song">
        </label>
        <label class="card" for="item-2" id="song-2">
            <img src="{{jobCompanyImg_options[1]}}" alt="song">
        </label>
        <label class="card" for="item-3" id="song-3">
            <img src="{{jobCompanyImg_options[2]}}" alt="song">
        </label>
        <label class="card" for="item-4" id="song-4">
            <img src="{{jobCompanyImg_options[3]}}" alt="song">
        </label>
        <label class="card" for="item-5" id="song-5">
            <img src="{{jobCompanyImg_options[4]}}" alt="song">
        </label>
    </div>
    <div class="player">
        <div class="upper-part">
            <div class="info-area" id="test">
                <label class="song-info" id="song-info-1">
                    <div class="title">
                        <span #jobTitle></span> @ <a #jobCompany href="" class="company-link" target="_blank"></a>
                    </div>
                    <div class="sub-line">
                        <span #jobDate class="subtitle"></span>
                    </div>
                    <div class="exp-description-container">
                        ❝ <span #jobDescription class="exp-description"></span> ❞
                    </div>
                </label>
            </div>
        </div>
    </div>
</div>