<mat-card-header>
    <mat-card-title>
        <h2 class="section-title">
            <span class="numeric mr-8">&#8544;&#8544;&#8544;.</span>
            <span class="blast">M</span>
            <span class="blast">y</span>
            &nbsp;
            <span class="blast">P</span>
            <span class="blast">r</span>
            <span class="blast">o</span>
            <span class="blast">j</span>
            <span class="blast">e</span>
            <span class="blast">c</span>
            <span class="blast">t</span>
            <span class="blast">s</span>
        </h2>
    </mat-card-title>
</mat-card-header>

<div class="project-card-container">
    <!--AutoWash9000-->
    <a class="direct-project" href="https://github.com/Sia-WRWD/AutoWash9000" target="_blank">
        <div class="project-card">
            <div class="project-icon">
                <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="project-link-icon">
                <i class="fa fa-github"></i>
            </div>
            <div class="project-title">
                AutoWash9000
            </div>
            <div class="project-desc">
                Simulation of an Automated Car Wash Controller built using
                LabView.
            </div>
            <div class="language-used">
                LabView
            </div>
        </div>
    </a>

    <!--Liddleby-->
    <a class="direct-project" href="https://liddleby.com/" target="_blank">
        <div class="project-card">
            <div class="project-icon">
                <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="project-link-icon">
                <i class="fa fa-external-link"></i>
            </div>
            <div class="project-title">
                Liddleby
            </div>
            <div class="project-desc">
                A Website for people to make donations to support the causes they desire in which
                the process is simplified.
            </div>
            <div class="language-used">
                Angular TS JS Firebase
            </div>
        </div>
    </a>

    <!--AHHASC-->
    <a class="direct-project" href="https://github.com/Sia-WRWD/AHHASC" target="_blank">
        <div class="project-card">
            <div class="project-icon">
                <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="project-link-icon">
                <i class="fa fa-github"></i>
            </div>
            <div class="project-title">
                AHHASC
            </div>
            <div class="project-desc">
                A Java Application built for the APU Hostels' Repair Service for User Management
                purposes.
            </div>
            <div class="language-used">
                Java
            </div>
        </div>
    </a>

    <!--H4U-->
    <a class="direct-project" href="https://github.com/Sia-WRWD/fyp_h4u" target="_blank">
        <div class="project-card">
            <div class="project-icon">
                <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="project-link-icon">
                <i class="fa fa-github"></i>
            </div>
            <div class="project-title">
                H4U Hub
            </div>
            <div class="project-desc">
                A remake of the HFYC Website, built using Angular and Nodejs.
            </div>
            <div class="language-used">
                Angular TS JS Nodejs MySQL
            </div>
        </div>
    </a>

    <!--HFYC-->
    <a class="direct-project" href="https://github.com/Sia-WRWD/HFYC" target="_blank">
        <div class="project-card">
            <div class="project-icon">
                <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="project-link-icon">
                <i class="fa fa-github"></i>
            </div>
            <div class="project-title">
                HFYC
            </div>
            <div class="project-desc">
                A Website for APU students and staffs to book consultation with
                professionals. This is a final-year group project.
            </div>
            <div class="language-used">
                HTML CSS JS PHP MySQL
            </div>
        </div>
    </a>

    <!--Otaku-Hub-->
    <a class="direct-project" href="https://github.com/Sia-WRWD/otaku-hub" target="_blank">
        <div class="project-card">
            <div class="project-icon">
                <i class="fa fa-lightbulb-o"></i>
            </div>
            <div class="project-link-icon">
                <i class="fa fa-github"></i>
            </div>
            <div class="project-title">
                Otaku Hub
            </div>
            <div class="project-desc">
                Otaku Hub is a Website for fellow Otakus to share their opinions and views
                on the latest animes.
            </div>
            <div class="language-used">
                HTML CSS JS PHP MySQL
            </div>
        </div>
    </a>
</div>