<mat-card-header>
    <mat-card-title>
        <h2 class="section-title">
            <span class="numeric mr-8">&#8544;&#8544;&#8544;.</span>
            <span class="blast">M</span>
            <span class="blast">y</span>
            &nbsp;
            <span class="blast">P</span>
            <span class="blast">r</span>
            <span class="blast">o</span>
            <span class="blast">j</span>
            <span class="blast">e</span>
            <span class="blast">c</span>
            <span class="blast">t</span>
            <span class="blast">s</span>
        </h2>
    </mat-card-title>
</mat-card-header>
