.flex-container {
  width: 100%;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: center;

  .edu-title {
    width: 100%;

    .rubber {
      font-weight: 800;
      font-size: 3rem;
      margin-top: 10px;
      line-height: 1.25;
      margin-bottom: 10px;
      filter: drop-shadow(1px 1px 1px black);

      .no-blast-s {
        color: var(--no-blast-color);
      }

      .no-blast {
        margin-left: 15px;
        color: var(--no-blast-color);
      }

      .blast {
        display: inline-block;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        background: linear-gradient(to right, var(--light-slate) 50%, var(--accent) 50%);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.4s ease-out;

        &:hover {
          background-position: -100%;
          animation-name: rubberBand;
        }
      }

      .code-icon {
        font-weight: 600;
        margin-left: 1rem;
      }
    }
  }

  .edu-content {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    margin-top: 30px;
    column-gap: 15px;
    height: calc(100vh - 15%);

    .edu-container-card {
      position: relative;
      border-radius: 10px;
      height: 100%;
      width: 50%;
      background-position: right;
      background-repeat: no-repeat;
      object-fit: cover;
      background-size: cover;
      z-index: 1;
      filter: drop-shadow(2px 4px 6px black) sepia();
      transition: 0.3s ease-in-out;
      display: flex;

      &:after {
        content: "";
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        background-color: black;
        opacity: .5;
      }

      .edu-container-card-content {
        padding: 0px 30px;
        color: white;
        text-shadow: 1px 2px 3px black;
        display: flex;
        flex-direction: column;
        justify-content: center;
        height: 100%;
        z-index: 2;

        .edu-container-card-course {
          line-height: 1.5;
          font-size: 2.5rem;
          font-weight: 600;
          color: var(--proj-title);
        }

        .edu-container-card-name {
          line-height: 1.5;
          font-size: 2rem;
          font-weight: 500;
          display: inline;
          position: relative;
          overflow: hidden;
          margin-bottom: 0px;

          .underline {
            color: white;
            text-decoration: none;
            display: inline;
            position: relative;
            overflow: hidden;
            transition: 0.3s ease-in-out;

           &:after {
            content: "";
            position: absolute;
            z-index: -1;
            right: 0;
            width: 0;
            bottom: -5px;
            background: var(--accent);
            height: 4px;
            transition-property: width;
            transition-duration: 0.3s;
            transition-timing-function: ease-out;
           }

           &:hover:after, :focus:after, :active:after {
            left: 0;
            right: auto;
            width: 100%;
           }

           &:hover {
            color: var(--accent);
           }
          }
        }

        .edu-container-card-year-status {
          font-size: 1.3rem;
          font-style: italic;
          font-weight: 400;
        }
      }

      &:hover {
        filter: drop-shadow(2px 4px 6px black);
      }
    }
  }
}

@media (min-width: 280px) {
  .flex-container {
      max-width: 270px !important;
  }
}

@media (min-width: 360px) {
  .flex-container {
      max-width: 340px !important;
  }
}

@media (min-width: 420px) {
  .flex-container {
      max-width: 400px !important;
  }
}

@media (min-width: 576px) {
  .flex-container {
      max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .flex-container {
      max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .flex-container {
      max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .flex-container {
      max-width: 1140px !important;
  }
}

@media (min-width: 1430px) {
  .flex-container {
      max-width: 1400px !important;
  }
}

@media (min-width: 280px) and (max-width: 1199px) {
  .edu-content {
    flex-direction: column !important;
    row-gap: 15px !important;
    column-gap: 0 !important;

    .edu-container-card {
      width: 100% !important;
    }
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .edu-container-card-course {
    font-size: 2.25rem !important;
  }

  .edu-container-card-name {
    font-size: 1.75rem !important;
  }

  .edu-container-card-year-status {
    font-size: 1.2rem !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .edu-container-card-course {
    font-size: 1.9rem !important;
  }

  .edu-container-card-name {
    font-size: 1.5rem !important;
  }

  .edu-container-card-year-status {
    font-size: 1.1rem !important;
  }
  
  .edu-content {
    margin-top: 15px !important;
  }
}

@media (min-width: 420px) and (max-width: 575px) {
  .edu-container-card-course {
    font-size: 1.75rem !important;
  }

  .edu-container-card-name {
    font-size: 1.4rem !important;
  }

  .edu-container-card-year-status {
    font-size: 1.1rem !important;
  }

  .edu-content {
    margin-top: 15px !important;
  }
}

@media (min-width: 360px) and (max-width: 419px) {
  .edu-container-card-course {
    font-size: 1.5rem !important;
  }

  .edu-container-card-name {
    font-size: 1.2rem !important;
  }

  .edu-container-card-year-status {
    font-size: 1rem !important;
  }

  .rubber {
    font-size: 2.3rem !important;
  }

  .edu-content {
    margin-top: 15px !important;
  }
}

@media (min-width: 280px) and (max-width: 359px) {
  .edu-container-card-course {
    font-size: 1.25rem !important;
  }

  .edu-container-card-name {
    font-size: 1rem !important;
  }

  .edu-container-card-year-status {
    font-size: .75rem !important;
  }

  .rubber {
    font-size: 1.9rem !important;
  }

  .edu-content {
    margin-top: 5px !important;
  }
}

@media screen and (width: 1024px) and (height: 600px) {
  .edu-container-card-course {
    font-size: 1.25rem !important;
  }

  .edu-container-card-name {
    font-size: 1.75rem !important;
  }

  .edu-container-card-year-status {
    font-size: 1.1rem !important;
  }

  .rubber {
    font-size: 2.5rem !important;
  }

  .edu-content {
    margin-top: 0px !important;
    width: 100%;
  }
}
