.sidenav-container {
  height: fit-content;
}

.sidenav {
  width: 300px;
  background: var(--sidenav-si-bg);
}

.sidenav .mat-toolbar {
  background: inherit;
}

.mat-toolbar.mat-primary {
  position: fixed;
  top: 0;
  z-index: 2;
  background: var(--secondary) !important;
}

.menu-button {
  background: transparent !important;
  color: var(--dominant) !important;
  display: none;
}

.nav-bar-container {
  padding-right: 40px;
}

.nav-bar-a-list a {
  text-decoration: none;
  color: var(--dominant);
  margin-right: 20px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
  text-shadow: 1px 1px 1px black;

  &:hover {
    color: var(--accent);
  }
}

.glowy-title {
  text-shadow: 1px 1px 1px black;
  .title {
    color: var(--dominant);
    text-decoration: none;
    font-weight: 600;
    letter-spacing: 1px;
    transition: 0.3s ease-in-out;
  }
  &:hover {
    animation: glow 1s ease-in-out infinite alternate;
    .title {
      color: var(--accent);
    }
  }
}

.mobile-icon-container {
  display: none;
  text-align: center;
  position: absolute;
  bottom: 0px;
  background: var(--sidenav-si-bg);
  padding: 10px 0px 5px 0px;
  color: #fff;
  width: 100%;
  font-size: 30px;
  letter-spacing: 5px;
  text-shadow: 1px 1px 1px black;
}

::ng-deep .mat-list-item-content {
  color: #ffffff;
  font-weight: 600;
  letter-spacing: 1.5px;
  font-size: 1.3rem;
  text-shadow: 1px 1px 1px black;
}

::ng-deep .sidenav .mat-toolbar {
  color: var(--accent);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 2rem;
  text-shadow: 1px 1px 1px black;
}

::ng-deep mat-card.mat-card.mat-focus-indicator.dashboard-card {
  box-shadow: none;
}

::ng-deep .mat-icon-button {
  z-index: 999;
}

.theme-radio-group {
  display: flex;
  flex-direction: column;
}

.theme-btn {
  background: transparent;
  color: var(--dominant);
}

::ng-deep .mat-menu-content {
  padding-right: 8px;
  background: var(--white2black);
}

@keyframes glow {
  from {
    text-shadow: 0 0 10px var(--accent), 
    0 0 20px var(--accent), 
    0 0 30px var(--accent), 
    0 0 40px var(--accent), 
  }
  
  to {
    text-shadow: 0 0 20px var(--accent), 
    0 0 30px var(--accent), 
    0 0 40px var(--accent), 
  }
}

@media (max-width: 991px) {
  .menu-button {
    display: block !important;
  }

  .nav-bar-a-list {
    display: none !important;
  }

  .mobile-icon-container {
    display: block !important;
  }

  .glowy-title {
    display: none !important;
  }
}