<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
    [mode]="(isHandset$ | async) ? 'over' : 'over'" [opened]="(isHandset$ | async) === true">
    <mat-toolbar>Navigations</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item (click)="directAbout()">&#8544;. About Me</a>
      <a mat-list-item (click)="directExp()">&#8544;&#8544;. Experience</a>
      <a mat-list-item (click)="directProj()">&#8544;&#8544;&#8544;. Projects</a>
      <a mat-list-item (click)="directContact()">&#8544;&#8548;. Contacts</a>
      <a mat-list-item href="../../../assets/RESUME.pdf" download="RESUME.pdf">
        Resume
      </a>
      <ng-container *ngIf="(isHandset$ | async) === false; else showMobileIcon">

      </ng-container>
      <ng-template #showMobileIcon>
        <div class="mobile-icon-container">
          <a href="#" class="s-icon-l"><i class="fa fa-linkedin-square mr-8"></i></a>
          <a href="#" class="s-icon-f"><i class="fa fa-facebook-square mr-8"></i></a>
          <a href="#" class="s-icon-i"><i class="fa fa-instagram mr-8"></i></a>
          <a href="#" class="s-icon-g"><i class="fa fa-github mr-8"></i></a>
        </div>
      </ng-template>
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button type="button" aria-label="Toggle sidenav" mat-icon-button (click)="drawer.toggle()">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <mat-toolbar color="primary">
        <div class="glowy-title" title="Sia's Portfolio">
          <a class="title" routerLink="home">Sia's Portfolio</a>
        </div>
        <div class="flex-stretch"></div>
        <ng-container *ngIf="(isHandset$ | async) === true; else showDeskIcon">

        </ng-container>
        <ng-template #showDeskIcon>
          <a href="#" class="s-icon-l"><i class="fa fa-linkedin-square mr-8"></i></a>
          <a href="#" class="s-icon-f"><i class="fa fa-facebook-square mr-8"></i></a>
          <a href="#" class="s-icon-i"><i class="fa fa-instagram mr-8"></i></a>
          <a href="#" class="s-icon-g"><i class="fa fa-github mr-8"></i></a>
        </ng-template>
        <mat-icon class="mr-8">brightness_5</mat-icon>
        <mat-slide-toggle [formControl]="toggleControl" class="mr-8">
        </mat-slide-toggle>
        <mat-icon>bedtime</mat-icon>
      </mat-toolbar>
    </mat-toolbar>
    <app-dashboard></app-dashboard>
  </mat-sidenav-content>
</mat-sidenav-container>