.flex-container {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  perspective: 1000px;

  :host .left-content {
    .intro {
      color: var(--primary);
      font-size: 3rem;
      font-weight: 600;
      letter-spacing: 5px;
      text-shadow: 1px 1px 1px black;
    }

    .intro-name {
      width: fit-content;

      .rubber1 {
        font-weight: 800;
        font-size: 6rem;
        line-height: 1.25;
        margin-bottom: 0;

        .no-blast-s {
          color: var(--no-blast-color);
        }

        .no-blast {
          margin-left: 15px;
          color: var(--no-blast-color);
        }

        .blast {
          display: inline-block;
          animation-duration: 1s;
          animation-fill-mode: both;
          animation-iteration-count: 1;
          background: linear-gradient(to right, var(--light-slate) 50%, var(--accent) 50%);
          background-size: 200%;
          -webkit-background-clip: text;
          -webkit-text-fill-color: transparent;
          transition: 0.4s ease-out;

          &:hover {
            background-position: -100%;
            animation-name: rubberBand;
          }
        }
      }

      .typing {
        position: relative;
        overflow: hidden;
        width: 100%;
        border-right: 2px solid rgba(255, 255, 255, .75);
        white-space: nowrap;
        //animation: typing 1s steps(44) 1s normal both, caret 700ms steps(44) infinite normal; //Not working because no browser support.
        animation-name: typing, caret; //Workaround
        animation-duration: 1s, 0.7s;
        animation-timing-function: steps(44), steps(44);
        animation-iteration-count: 1, infinite;
        animation-direction: normal, normal;
        animation-fill-mode: both, none;
        filter: drop-shadow(1px 1px 1px black);
      }
    }

    .rubber2 {
      font-size: 3rem;
      line-height: 1.5;
      font-weight: 600;
      margin-bottom: 0px;
      text-shadow: 1px 2px 2px black;
      color: var(--primary);

      .blast {
        display: inline-block;
        animation-duration: 1s;
        animation-fill-mode: both;
        animation-iteration-count: 1;
        background: linear-gradient(to right, var(--light-slate) 50%, var(--accent) 50%);
        background-size: 200%;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
        transition: 0.4s ease-in-out;

        &:hover {
          background-position: -100%;
          animation-name: rubberBand;
        }
      }
    }

    .about-section-btn-container {
      margin-top: 15px;

      .about-section-btn {
        height: 50px;
        width: 200px;
        font-size: 1.5rem;
        box-shadow: 1px 2px 3px black;
        border-radius: 7px;
        border: 0;
        font-weight: 600;
        background: var(--secondary);
        color: #ffffff;
        cursor: pointer;
        transition: .2s ease-in-out;
        text-shadow: 1px 1px 1px black;
        border: 2px solid var(--about-section-border);
        box-shadow: 1px 2px 2px black;

        &:hover {
          transform: translateY(10px);
        }
      }
    }

    .intro-role {
      color: #ffffff;

      .role {
        color: var(--accent);
        text-shadow: 1px 2px 3px black;
      }
    }

    .social-media-icons {
      display: flex;
      color: var(--accent);
      margin-top: 15px;

      .icon-container {
        height: 50px;
        width: 50px;
        background: black;
        border-radius: 50%;
        display: flex;
        align-items: center;
        justify-content: center;
        margin-right: 8px;
        box-shadow: 1px 2px 3px black;
        cursor: pointer;
        transition: 0.3s ease-in-out;

        &:hover {
          color: #ffffff;
        }
      }

      .linkedin {
        transition: 0.3s ease-in-out;

        &:hover {
          background: #0072b1;
        }
      }

      .facebook {
        transition: 0.3s ease-in-out;

        &:hover {
          background: #4267B2;
        }
      }

      .instagram {
        transition: 0.3s ease-in-out;

        &:hover {
          background: linear-gradient(to bottom left, #4f5bd5, #962fbf, #d62976, #fa7e1e, #feda75);
        }
      }

      .resume {
        transition: 0.3s ease-in-out;

        &:hover {
          background: #FA0F00;
        }
      }

      .s-icon-l,
      .s-icon-f,
      .s-icon-i,
      .s-icon-g {
        font-size: 2rem;
        color: inherit;
      }

      .s-icon-r {
        font-size: 1.5rem;
        color: inherit;
      }
    }
  }

  .right-content {

    .pic-container {
      perspective: 1000px;
    }

    img {
      max-width: 100%;
    }

    .hover-card {
      width: 350px;
      aspect-ratio: 9 / 16;
      position: relative;
      transform-style: preserve-3d;
      transition: rotate 400ms ease;
    }

    .hover-card:hover {
      rotate: x 20deg;
    }

    .hover-card::before {
      content: '';
      position: absolute;
      inset: 0;
      z-index: 100;
      background-image: radial-gradient(circle, transparent 150px, black);
      opacity: 0;
      transition: opacity 400ms;
    }

    .hover-card:hover::before {
      opacity: 1;
    }

    .hover-card::after {
      content: '';
      position: absolute;
      inset: 80% 0.5rem 0.5rem;
      translate: 0;
      transform: translateZ(-100px);
      background: black;
      filter: blur(1rem);
      z-index: 1;
      transition: rotate 400ms translate 400ms;
    }

    .hover-card:hover::after {
      rotate: x calc(20deg * -1);
      translate: 0 60px;
    }

    .bg-image {
      position: absolute;
      z-index: 10;
      height: 100%;
      object-fit: cover;
      width: 100%;
      /* object-position: -150px center; */
    }

    .logo,
    .front-image {
      position: absolute;
    }

    .logo {
      z-index: 1000;
      filter: invert(1);
      width: 65%;
      margin-inline: auto;
      inset: auto 0 2rem;
      transform: translateY(0rem) translateZ(20px);
      transition: 400ms;
    }

    .hover-card:hover .logo {
      transform: translateY(-2rem) translateZ(20px);
      rotate: x calc(20deg * -1);
    }

    .front-image {
      scale: 1;
      /*Sung Jin Woo 2 - 1.4*/
      transform-origin: bottom;
      opacity: 0;
      z-index: 100;
      transition: 400ms;
      filter: drop-shadow(1px 2px 2px black);
    }

    .hover-card:hover .front-image {
      opacity: 1;
      transform: translateY(-90px) translateX(-20px) translateZ(-40px);
      /*Sung Jin Woo 2 - translateY(-10px) translateX(0px) translateZ(-10px)*/
      rotate: x calc(20deg*-1);
    }

    // .pic-container {
    //   width: 500px;
    //   height: 500px;
    //   border-radius: 50%;
    //   display: flex;
    //   align-items: center;
    //   justify-content: center;

    //   .profile-pic {
    //     height: 100%;
    //     width: 100%;
    //     border-radius: 50%;
    //     filter: drop-shadow(2px 4px 6px black);
    //   }
    // }
  }
}

//3D Hover Card


//Glitch Animation
.glitch {
  animation: glitch 3s linear infinite;
}

.glitch:before,
.glitch:after {
  content: attr(title);
  position: absolute;
  left: 0;
}

.glitch:before {
  animation: glitchTop 1s linear infinite;
  clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
  -webkit-clip-path: polygon(0 0, 100% 0, 100% 33%, 0 33%);
}

//Responsive
@media (min-width: 280px) {
  .flex-container {
    max-width: 270px !important;
  }
}

@media (min-width: 360px) {
  .flex-container {
    max-width: 340px !important;
  }
}

@media (min-width: 420px) {
  .flex-container {
    max-width: 400px !important;
  }
}

@media (min-width: 576px) {
  .flex-container {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {
  .flex-container {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {
  .flex-container {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {
  .flex-container {
    max-width: 1140px !important;
  }
}

@media (min-width: 1430px) {
  .flex-container {
    max-width: 1400px !important;
  }
}

@media (min-width: 1200px) and (max-width: 1429px) {
  .intro {
    font-size: 2.5rem !important;
  }

  .rubber1 {
    font-size: 5rem !important;
  }

  .rubber2 {
    font-size: 2.75rem !important;
  }
}

@media (min-width: 992px) and (max-width: 1199px) {

  .intro {
    font-size: 2rem !important;
  }

  .rubber1 {
    font-size: 4rem !important;
  }

  .rubber2 {
    font-size: 2.25rem !important;
  }
}

@media (max-width: 991px) {
  .flex-container {
    flex-direction: column !important;
    align-items: flex-start !important;
    row-gap: 30px;
    justify-content: center !important;
  }
}

@media (min-width: 280px) and (max-width: 991px) {

  .right-content {
    display: flex;
    width: 100%;
    justify-content: center;
  }

  .hover-card {
    width: 225px !important;
  }
}

@media (min-width: 280px) and (max-width: 419px) {
  .intro {
    margin-bottom: 0px !important;
  }
}

@media (min-width: 768px) and (max-width: 991px) {
  .intro {
    font-size: 2rem !important;
  }

  .rubber1 {
    font-size: 4rem !important;
  }

  .rubber2 {
    font-size: 2.25rem !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .intro {
    font-size: 2rem !important;
  }

  .rubber1 {
    font-size: 4rem !important;
  }

  .rubber2 {
    font-size: 2.25rem !important;
  }
}

@media (min-width: 420px) and (max-width: 575px) {
  .intro {
    font-size: 1.5rem !important;
  }

  .rubber1 {
    font-size: 3.5rem !important;
  }

  .rubber2 {
    font-size: 1.75rem !important;
  }

  .about-section-btn {
    font-size: 1.25rem !important;
    width: 175px !important;
  }

  .s-icon-g,
  .s-icon-f,
  .s-icon-l,
  .s-icon-i {
    font-size: 1.75rem !important;
  }
}

@media (min-width: 360px) and (max-width: 419px) {
  .intro {
    font-size: 1.25rem !important;
  }

  .rubber1 {
    font-size: 3rem !important;
  }

  .rubber2 {
    font-size: 1.5rem !important;
  }

  .about-section-btn {
    font-size: 1.25rem !important;
    width: 150px !important;
  }

  .icon-container {
    width: 45px !important;
    height: 45px !important;
  }

  .s-icon-g,
  .s-icon-f,
  .s-icon-l,
  .s-icon-i {
    font-size: 1.5rem !important;
  }

  .s-icon-r {
    font-size: 1.3rem !important;
  }
}

@media (min-width: 280px) and (max-width: 359px) {
  .intro {
    font-size: .9rem !important;
  }

  .rubber1 {
    font-size: 2.25rem !important;
  }

  .rubber2 {
    font-size: 1.25rem !important;
  }

  .about-section-btn {
    font-size: 1rem !important;
    width: 130px !important;
    height: 40px !important;
  }

  .icon-container {
    width: 35px !important;
    height: 35px !important;
  }

  .s-icon-g,
  .s-icon-f,
  .s-icon-l,
  .s-icon-i {
    font-size: 1.25rem !important;
  }

  .s-icon-r {
    font-size: 1.1rem !important;
  }
}

@media screen and (min-width: 768px) and (max-width: 912px) and (orientation: portrait) and (min-height: 1024px) and (max-height: 1368px) {
  .intro {
    font-size: 3rem !important;
  }

  .rubber1 {
    font-size: 6rem !important;
  }

  .rubber2 {
    font-size: 3rem !important;
  }

  .about-section-btn {
    font-size: 2rem !important;
    width: 250px !important;
    height: 75px !important;
  }

  .icon-container {
    width: 75px !important;
    height: 75px !important;
  }

  .s-icon-g,
  .s-icon-f,
  .s-icon-l,
  .s-icon-i {
    font-size: 2.5rem !important;
  }

  .s-icon-r {
    font-size: 2.1rem !important;
  }
}

@media screen and (min-width: 320px) and (max-width: 375px) and (max-height: 667px) and (min-height: 568px) {

}

@media (height: 720px) and (width: 540px) {

}

@media (height: 1180px) and (width: 820px) {}

//Animation
@keyframes glitch {

  2%,
  64% {
    transform: translate(2px, 0) skew(0deg);
  }

  4%,
  60% {
    transform: translate(-2px, 0) skew(0deg);
  }

  62% {
    transform: translate(0, 0) skew(5deg);
  }
}

@keyframes glitchTop {

  2%,
  64% {
    transform: translate(2px, -2px);
  }

  4%,
  60% {
    transform: translate(-2px, 2px);
  }

  62% {
    transform: translate(13px, -1px) skew(-13deg);
  }
}

.glitch:after {
  animation: glitchBottom 1.5s linear infinite;
  clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
  -webkit-clip-path: polygon(0 67%, 100% 67%, 100% 100%, 0 100%);
}

@keyframes glitchBottom {

  2%,
  64% {
    transform: translate(-2px, 0);
  }

  4%,
  60% {
    transform: translate(-2px, 0);
  }

  62% {
    transform: translate(-22px, 5px) skew(21deg);
  }
}

//Buttons Animation
@keyframes typing {
  from {
    width: 0;
  }

  to {
    width: 100%;
  }
}

@keyframes caret {
  from {
    border-right-color: rgba(255, 255, 255, .75);
  }

  to {
    border-right-color: transparent;
  }
}