<div class="flex-container">
  <div class="left-content">
    <h1 class="intro glitch notranslate" title={{currentItem}}>
      {{ currentItem }}
    </h1>
    <div class="intro-name notranslate">
      <h2 class="rubber1 typing" id="typing" #typing>
        <span class="no-blast-s">S</span>
        <span class="blast">i</span>
        <span class="blast">a</span>
        <span class="no-blast">C</span>
        <span class="blast">h</span>
        <span class="blast">e</span>
        <span class="blast">e</span>
        <span class="no-blast">Z</span>
        <span class="blast">h</span>
        <span class="blast">e</span>
        <span class="blast">n</span>
        <span class="blast">.</span>
      </h2>
    </div>
    <div id="showSlideUp" class="hide">
      <div class="intro-role">
        <h3 class="rubber2">
          I am a <span class="fadeInOut role">{{currentRole}}</span>
        </h3>
      </div>
      <div class="social-media-icons">
        <div class="icon-container linkedin">
          <a href="https://www.linkedin.com/in/sia-chee-zhen-742240201/" target="_blank" class="s-icon-l">
            <i class="fa fa-linkedin-square"></i>
          </a>
        </div>
        <div class="icon-container facebook">
          <a href="https://www.facebook.com/J3N2411" target="_blank" class="s-icon-f">
            <i class="fa fa-facebook-square"></i>
          </a>
        </div>
        <div class="icon-container instagram">
          <a href="https://www.instagram.com/wrwd_haloha/" target="_blank" class="s-icon-i">
            <i class="fa fa-instagram"></i>
          </a>
        </div>
        <div class="icon-container github">
          <a href="https://github.com/Sia-WRWD" target="_blank" class="s-icon-g">
            <i class="fa fa-github"></i>
          </a>
        </div>
        <div class="icon-container resume">
          <a href="../../../assets/RESUME.pdf" download="RESUME.pdf" class="s-icon-r">
            <i class="fa fa-file-pdf-o"></i>
          </a>
        </div>
      </div>
      <div class="about-section-btn-container">
        <button (click)="directAbout()" class="about-section-btn">
            About Me <i class="fa fa-arrow-down"></i>
        </button>
      </div>
    </div>
  </div>
  <div class="right-content">
    <div class="card-container hide" title="Credits & Attribution to Solo Levelling (https://twitter.com/sololeveling_en)" id="showSlideDown">
      <div class="wrapper">
        <img class="card-bg" src="../../../../assets/pictures/intro/bg-sjw.jpg" alt="profile.png">
      </div>
      <img class="card-title" src="../../../../assets/pictures/intro/logo-sjw.png" alt="profile.png">
      <img class="card-character" src="../../../../assets/pictures/intro/sung-jin-woo.png" alt="profile.png">
    </div>
  </div>
</div>